# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
bin
obj
*.DotSettings.user

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart Specific
*.g.dart
*.freezed.dart
**/model/*.g.dart
**/model/*.freezed.dart
**/models/*.g.dart
**/models/*.freezed.dart
router.gr.dart
lib/generated
lib/core/gen
lib/core/router/app_router.gr.dart

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

.gradle

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

node_modules/
.tmp/
web/assets
*.patch
/flutter/
coverage/
/bin/
.scannerwork/
tests.output

# New added
build/
ios/Runner/ProvisionProfile*.xcconfig
ios/Podfile.lock

.vscode
.vs
tmp.tmp

### Dart ###
# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# dotenv environment variables file
.env
.env.dev
.env.preprod
.env.production

.flutter-plugins
.flutter-plugins-dependencies

lib/generated_plugin_registrant.dart

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/.cxx

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/**/*.xcworkspace/xcuserdata/
**/ios/**/*.xcworkspace/contents.xcworkspacedata
**/ios/**/*.xcodeproj/project.pbxproj

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# FVM Version Cache
.fvm/
.fvmrc

# Firebase CLI
firepit-log.txt
.metadata